.mySwiper {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.mySwiper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


@media (max-width: 768px) {
    .mySwiper img {
        height: 250px;
    }
}

@media (max-width: 480px) {
    .mySwiper img {
        height: 200px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}